<% layout('/views/shared/main-layout') -%>
<% block("title").append("用户详情") %>

<div id="page-user-detail" class="page">
    <h1>用户信息：</h1>
    <user-info></user-info>

    <img src="../../img/3.png" alt="">
</div>